--
-- PostgreSQL database dump
--

\restrict d3xmrvm7ymCwaNGFTxt6Wer5JQ9SUIGaFquFkRpiJxSAhMeeIzgYXchu6YjxJi9

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_history; Type: TABLE; Schema: public; Owner: chatuser
--

CREATE TABLE public.chat_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "userId" uuid
);


ALTER TABLE public.chat_history OWNER TO chatuser;

--
-- Name: credits; Type: TABLE; Schema: public; Owner: chatuser
--

CREATE TABLE public.credits (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    balance integer NOT NULL,
    plan character varying NOT NULL,
    "userId" uuid,
    "lastReset" timestamp without time zone,
    "expirationDate" timestamp without time zone
);


ALTER TABLE public.credits OWNER TO chatuser;

--
-- Name: message; Type: TABLE; Schema: public; Owner: chatuser
--

CREATE TABLE public.message (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content character varying NOT NULL,
    role character varying NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    "chatId" uuid,
    images text
);


ALTER TABLE public.message OWNER TO chatuser;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: chatuser
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO chatuser;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: chatuser
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO chatuser;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: chatuser
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: chatuser
--

CREATE TABLE public."user" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    name character varying NOT NULL,
    password character varying,
    avatar character varying,
    bio character varying,
    location character varying,
    website character varying,
    company character varying,
    phone character varying,
    provider character varying,
    "providerId" character varying
);


ALTER TABLE public."user" OWNER TO chatuser;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Data for Name: chat_history; Type: TABLE DATA; Schema: public; Owner: chatuser
--



--
-- Data for Name: credits; Type: TABLE DATA; Schema: public; Owner: chatuser
--



--
-- Data for Name: message; Type: TABLE DATA; Schema: public; Owner: chatuser
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: chatuser
--

COPY public.migrations (id, "timestamp", name) FROM stdin;
1	1698765432100	AddLastResetAndExpirationToCredits1698765432100
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: chatuser
--



--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatuser
--

SELECT pg_catalog.setval('public.migrations_id_seq', 1, true);


--
-- Name: credits PK_45cea097fd0ee625d2e840ed99c; Type: CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.credits
    ADD CONSTRAINT "PK_45cea097fd0ee625d2e840ed99c" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: message PK_ba01f0a3e0123651915008bc578; Type: CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "PK_ba01f0a3e0123651915008bc578" PRIMARY KEY (id);


--
-- Name: user PK_cace4a159ff9f2512dd42373760; Type: CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_cace4a159ff9f2512dd42373760" PRIMARY KEY (id);


--
-- Name: chat_history PK_cf76a7693b0b075dd86ea05f21d; Type: CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.chat_history
    ADD CONSTRAINT "PK_cf76a7693b0b075dd86ea05f21d" PRIMARY KEY (id);


--
-- Name: user UQ_e12875dfb3b1d92d7d7c5377e22; Type: CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_e12875dfb3b1d92d7d7c5377e22" UNIQUE (email);


--
-- Name: credits FK_564c4ffe9a4dea0c7d003fe42ff; Type: FK CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.credits
    ADD CONSTRAINT "FK_564c4ffe9a4dea0c7d003fe42ff" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: message FK_619bc7b78eba833d2044153bacc; Type: FK CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "FK_619bc7b78eba833d2044153bacc" FOREIGN KEY ("chatId") REFERENCES public.chat_history(id) ON DELETE CASCADE;


--
-- Name: chat_history FK_6bac64204c7b416f465e17957ed; Type: FK CONSTRAINT; Schema: public; Owner: chatuser
--

ALTER TABLE ONLY public.chat_history
    ADD CONSTRAINT "FK_6bac64204c7b416f465e17957ed" FOREIGN KEY ("userId") REFERENCES public."user"(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO chatuser;


--
-- PostgreSQL database dump complete
--

\unrestrict d3xmrvm7ymCwaNGFTxt6Wer5JQ9SUIGaFquFkRpiJxSAhMeeIzgYXchu6YjxJi9

